.menu li a {font-family:'Lora',serif;}
.slog-1 {font-size:80px;font-family:'Lora',serif;font-weight:lighter;letter-spacing:-2px;text-shadow:2px 2px #c22d03;}
.slog-2 {font-size:80px;font-family:'Lora',serif;font-weight:lighter;letter-spacing:-2px;text-shadow:2px 2px #c22d03;}
.slog-3 {font-size:80px;font-family:'Lora',serif;font-weight:lighter;letter-spacing:-2px;text-shadow:2px 2px #c22d03;}
.news-title {font-size:49px;line-height:1.2em;letter-spacing:-2px;font-family:'Lora',serif;text-shadow: 2px 2px #c22d03;}
.news-list li a {font-family:'Lora',serif;text-shadow: 2px 2px #c22d03;}
h3 {font-family:'Lora',serif;}
.title-1 {font-size:25px;line-height:1.2em;font-family:'Lora',serif;font-weight:lighter;}
.title-2 {font-size:25px;line-height:1.2em;font-family:'Lora',serif;font-weight:lighter;}
.title-3 {font-size:23px;line-height:1.217em;font-family:'Lora',serif;font-weight:lighter;}
.phone-numb {font-family:'Lora',serif;}
.social-title {font-family:'Lora',serif;}